nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
}

nav .navright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto 0;
}

nav .navright li {
  min-width: 3vh;
  list-style: none;
  margin: auto 5px;
}

nav .navright li a {
  color: black;
  text-decoration: none;
  padding: 5px;
  border: lightgray 1px solid;
  background-color: white;
}

img {
  min-height: 30px;
  min-width: 100px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

@media all and (max-width: 800px) {
  nav .navright li {
    margin: auto;
  }

  nav .navright li a {
    padding: 0;
  }
}

